/*.kartta{
  float: right;
    width: 960px;
    height:640px;
    
}*/
html,body{
    width:100%;
    height: 100%;
    
}

.h1{
    color : #c7273e;
}
ol {
    list-style: none;
    padding: 0;
    border: 1px;
    margin-left: 10px;
    padding-top: 10px;
    width:100%;
    text-align: center;
  }
  li {
      display: table;
      text-align: left;
      width:100%;
    padding: 6px;
    right: 100px;
    background-color: #c7273e;
    border-radius: 1px solid black;
    border-style: solid;
   
  }
  li label{
    font-size: 2.5vw;
  }
  li button{font-size:3 vw;
    border-radius: 12px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left: 10px;
    background-color:white;
    text-decoration-color: black;

}


@media only screen and (min-width: 600px){

    .sidenav {
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        float: right;

      }
      
      .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      #main {
        transition: margin-top .5s;
        padding: 16px;
      }
    
.kartta{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    
 
}
#reittihaku{
    margin-left: 10px;
    padding-right: 10px ;
    overflow: auto;
}}
@media only screen and (max-width: 600px){
  
    .kartta{
    float: top;
    position: fixed;
    margin-bottom: 10px;
    height:100%;
}
    .sidenav {
        height: 100%;

        width: 0%;
        position: fixed;
        z-index: 1;
        bottom: 0;
        right: 0;
        background-color: #111;

        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      .sidenav .instructions{
          position: absolute;
        color:white;
       top: 50%;
       font-size: 18px;
       margin-left: 10px;
    }
      .sidenav .closebtn {
          position: absolute;
        top:10px;
        color: black;
        right: 30px;
        font-size: 36px;
        margin-left: 1px;
      }
  
      
      
      #main {
        transition: margin-bottom .5s;
        padding: 16px;
      }

    .page{
        display: none;
        
    }
    .active{
        display: block; 
        
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

label{
    font-size: 12px;
}
.instructions::-webkit-scrollbar {
    width: 0.25rem;
  }
  
 .instructions::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  .instructions::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

.instructions{
    
    height:50%;
  left:0px;
    margin-top: 20px;
    float:bottom;
    overflow:scroll;
    padding-right:30px;

    
}
}