html{

    height: 100%;
    overflow: auto;
}
body{
background-image: url('taustakartta.png');
background-repeat: no-repeat;
background-attachment: fixed;
  background-size: 100% 100%;
}

.h1{
    color : #c7273e;
}



  
/*Suuren näytön tyyli*/
@media only screen and (min-width: 600px){
  .constant {
    background-color:#44c767;
    border-radius:8vw;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:1rem;
    padding:0.6em 1.2em;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
  }
  .constant:hover {
    background-color:#5cbf2a;
  }
  .constant:active {
    position:relative;
    top:1px;
  }
 
  .opened{
   
    width: 50%;
    
    text-align: center;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  .navOpen{
    width: 50%;
  }
  .searchTerms{
    overflow: auto;
    margin-right: 30px;
  
  }
  /*Reittiohjeiden listan tyyli*/
  .mainList ul{
    overflow: hidden;
      list-style: none;

  }
   .mainList li {
      background: #37BC9B;
      color: #fff;
      counter-increment: counter;
      margin: 0 25px 0 0;
      padding: 13px;
      position: relative;
      top: 1em;
      border-radius:  1em 2px 1em 1em;
      padding-left: 2em;
      font-size: 1em;
      font-family: Constantia;
     

    
      
  }
  /*Reittiohjelistan numeroinnin tyyli*/
  .mainList li:before{
      content: counter(counter, decimal);
      display: inline-block;
      text-align: center;
      font-size: 2em;
      line-height: 1.2em;
      background-color:   #35535c;
    
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 0.5em;
      padding-bottom: 0.7em;
      font-weight: bold;
      position: absolute; 
      top: 0.01em;
      left: -12px;
      border-radius:50%;
      font-family: exo;
     
  }
  /*Joka toinen listaelementti on erivärinen*/
  .mainList li:nth-child(even):before{
    background-color: #35535c;
    
  }
  .mainList li:nth-child(odd):before{
    background-color:   #37BC9B;
  }
  .mainList li:nth-child(even){
      background-color:  #35535c;
  }
.mainList li button{
  background-color: #576e75;
    color:white;
    margin-top: 8px;
    border-radius: 12px;
    text-align: center;
 
  margin-bottom: 3px;
  font-size:2 vw;
    background-color:#576e75;
    color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  

}
/*Sivupalkin tyyli*/
    .sidenav {
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color:#23232e ;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        float: right;

      }
      
      .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        background-color: #23232e;
        color: whitesmoke;
        border-style: none;
        cursor: pointer;
      }
      .sidenav .closebtn:hover{
        color: black;
      }
      
      #main {
        transition: margin-top .5s;
        padding: 16px;
      }
    
.kartta{
    float: right;
    margin-top: 10px;

}
h4{
  font-size:1.5vw;
}

label{
  font-size:2.5vw;
}

.searchTerms label{
  font-size: 1.5em;
}
.released{
  width: 99%;
    
  text-align: center;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow: hidden;
 }
 .released ul{

  list-style: none;
  
 }
 .released li{
  display:inline-block;
   width: 50%;
  margin-left: 10px;
  text-align: left;
  margin-right:10px;
  font-size:0.99em;
 }
 .released li:before{
  content: counter(counter, decimal);
  display: inline-block;
  font-size: 2em;
  line-height: 1em;
  background-color:#35535c;

  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  font-weight: bold;
  position: absolute; 
  top: 0.01em;
  left: -5px;
  border-radius:50%;
  font-family: exo;
 
}
.released li button {
  float: right;

  font-size:2 vw;
    background-color:#576e75;
    color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

}
/*Pienen näytön tyyli*/
@media only screen and (max-width: 600px){
  #reittihaku{
    text-align: center;
    margin-right:1em;
    margin-left:1em;
   
  }
  #tulos{
    margin-left: 0.5em;
    margin-right: 1em;
    
  }
/*Reittiohje joka ilmestyy sivupalkkiin*/
 .mobiList ul {
    list-style: none;
    border: 1px;
    margin-left: -3rem;
 
    width:100%;
    text-align: center;
    

  }
  
  .mobiList li {

    list-style: none;
    left:0.5em;
    background: #37BC9B;
    color: fff;
    counter-increment: myCounter;
    height: 100%;
    margin: 0 20px 0 0;
    padding: 13px;
    position: relative;
   
    top: 0.5em;
    border-radius:  0em 2px 1em 1em;
    border-radius: 1px solid black;
    border-style: solid;
    padding-left: 2em;
    font-size: 1.5rem;
    font-family: Constantia;
  
  }
  .mobiList li:before{
    content: counter(myCounter, decimal);
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    line-height: 1em;
    background-color:  #48CFAD;
    padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    font-weight: bold;
    position: absolute; 
    top:5px;
    left: 0px;
    border-radius: 50%;
    font-family: exo;
  }

  .mobiList li label{
    font-size: 0.6em;
  }
 .mobiList li button{
    
    
    border-radius: 12px;
    vertical-align: middle;
    text-align: center;
 
  margin-bottom: 3px;
  font-size:2 vw;
    background-color:#576e75;
    color: white;

  }
  .mobiList li:nth-child(even):before{
    background-color: #35535c;
    
  }
  .mobiList li:nth-child(odd):before{
    background-color:   #37BC9B;
  }
  
  .mobiList li:nth-child(even){
    background-color: #35535c;
}
.mobiList li:last-child{
  margin-bottom:30px;
}

/*Lista joka näkyy pääikkunassa*/
  .mainList ul{
      list-style: none;
  }
   .mainList li {
     left:-2.5em;
      background: #37BC9B;
      color: #fff;
    
      counter-increment: myCounter;
      margin: 0 0 0px 0px;
      padding: 13px;
      position: relative;
      top: 1em;
      border-radius:  0em 2px 1em 1em;
      padding-left: 2em;
      font-size: 0.9em;
      font-family: Constantia;
      margin-right:-3.5em;
      
  }
  .mainList li:before{
      content: counter(myCounter, decimal);
      display: inline-block;
      text-align: center;
      font-size: 2em;
      line-height: 1.3em;
      background-color:  #48CFAD;
      padding-left: 0.7em;
      padding-right: 0.5em;
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      font-weight: bold;
      position: absolute; 
      top:0;
      left: -0.7em;
      border-radius: 50%;
      font-family: exo;
  }
  .mainList li button{
    background-color: #576e75;
    color:white;
    margin-top: 8px;
    border-radius: 12px;
    text-align: center;
 
  margin-bottom: 3px;
  font-size:2 vw;
    background-color:#44c767;
    color: white;
  }
  
  .mainList li:nth-child(even):before{
    background-color: #37BC9B;;
    
  }
  .mainList li:nth-child(odd):before{
    background-color:   #35535c;
  }
  .mainList li:nth-child(odd){
      background-color:  #35535c;
  }
  
  body::-webkit-scrollbar {
    width: 0rem;
  }
  
 body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #c7273e;;
  }
    .kartta{
    float: top;
    position: fixed;
    margin-bottom: 10px;
    height:100%;
}
    .sidenav {
        height: 100%;

        width: 0%;
        position: fixed;
        z-index: 1;
        bottom: 0;
        right: 0;
        background-color: #23232e;

        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      .sidenav .instructions{
          position: absolute;
        color:white;
       top: 50%;
       font-size: 18px;
       margin-left: 10px;
    }
      .sidenav .closebtn {
          position: absolute;
        top:10px;
        color: black;
        right: 30px;
        font-size: 36px;
        margin-left: 1px;
        background-color: #b9b9b9;
        border-style: none;
        cursor: pointer;
      }
  
      
      
      #main {
        transition: margin-bottom .5s;
        padding: 16px;
      }

    .page{
        display: none;
        
    }
    .active{
        display: block; 
        
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

.instructions::-webkit-scrollbar {
    width: 0.25rem;
  }
  
 .instructions::-webkit-scrollbar-track {
    background: #111;
  }
  
  .instructions::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

.instructions{
    
   height:50%;
    left: -50px;
    margin-top: 20px;
    float:bottom;
    overflow:auto;
   

    
}
.constant {
	background-color:#44c767;
	border-radius:8vw;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:3vw;
	padding:2vw 4vw;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.constant:hover {
	background-color:#5cbf2a;
}
.constant:active {
	position:relative;
	top:1px;
}

.searchTerms label{
  font-size: 5vw;

}

}